body{
    background-color: #9ecdec;
    text-align: center;
}


#Gauche{
    top: 0px;
}
  .GaucheDiv {
    width: 10vw;
    height: 100vh;
    position: fixed;
    left: 1vw;
  }
  .GaucheDiv #imagecontainer {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    width:100%;
  }
  .GaucheDiv input[type=image] {
    display:table-cell;
    vertical-align:middle;
    height: 20vh;
    margin: 20px auto;
    object-fit: contain;
  }

#Droite{
    top: 0px;
}
  .DroiteDiv {
    width: 10vw;
    height: 100vh;
    position: fixed;
    right: 1vw;
  }
  .DroiteDiv #imagecontainer {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    width:100%;
  }
  .DroiteDiv input[type=image] {
    display:table-cell;
    vertical-align:middle;
    height: 20vh;
    margin: 20px auto;
    object-fit: contain;
  }